<div class="row">
  <div class="col-12"><h1 class="font-weight-bold text-center mt-4 mb-3"><%= phone_current_user.name %></h1></div>
</div>
<div class="row">
  <div class="col-12">
    <% case phone_current_user.status %>
    <% when "clocked_in" %>
      <%= render 'end_work_form', punch: @new_punch %>
      <%= render 'start_break_form', punch: @new_punch %>
    <% when "remote_in" %>
      <%= render 'end_remote_form', punch: @new_punch %>
    <% when "clocked_out", nil %>
      <%= render 'start_work_form', punch: @new_punch %>
      <% if phone_current_user.remote_allowed %><%= render 'start_remote_form', punch: @new_punch %><% end %>
    <% when "on_break" %>
      <%= render 'end_break_form', punch: @new_punch %>
    <% end %>
    <hr>
    <%= link_to("<i class=\"fas fa-clipboard-list\"></i> View Time Card".html_safe, phone_card_url, class: ["btn", "btn-secondary", "btn-block", "btn-lg"]) %>
    <%= link_to("<i class=\"fas fa-clock\"></i> Clocked in Right Now".html_safe, phone_now_url, class: ["btn", "btn-secondary", "btn-block", "btn-lg", "mt-3"]) %>
    <%= link_to("<i class=\"fas fa-sign-out-alt\"></i> Logout".html_safe, phone_logout_url, method: :post, class: ["logout-button", "btn", "btn-secondary", "btn-block", "btn-lg", "mt-3"]) %>
  </div>
</div>