<div class="row">
  <div class="col-12 d-flex flex-row justify-content-between align-items-center mt-3">
    <p class="lead">
      <strong><%= ipad_current_user.name %></strong>
      &raquo;
      Time Card for Week of <%= Period.current.starts_on.strftime("%m/%d/%y") %> &ndash; <%= Period.current.ends_on.strftime("%m/%d/%y") %>
    </p>
    <p>
      <%= link_to("<i class=\"fas fa-times\"></i>".html_safe, ipad_url, class: ["btn", "btn-sm", "btn-danger"]) %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <% if @punches.blank? %>
      <p>No records found.</p>
    <% else %>
      <table class="table table-bordered table-striped table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="text-center">Day</th>
            <th scope="col" class="text-center">Date</th>
            <th scope="col" class="text-center">Time</th>
            <th scope="col" class="text-center">Type</th>
          </tr>
        </thead>
        <tbody>
          <% @punches.each do |p| %>
            <tr>
              <td class="text-center"><%= p.punch_at.localtime.strftime("%A") %></td>
              <td class="text-center"><%= p.punch_at.localtime.strftime("%m/%d/%y") %></td>
              <td class="text-center"><%= p.punch_at.localtime.strftime("%I:%M%P") %></td>
              <td class="text-center <%= class_for_punch_type(p.punch_type) %>"><%= p.punch_type.gsub(/_/, ' ').titlecase %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>