<%= form_with(model: punch, local: true) do |form| %>
  <% if punch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(punch.errors.count, "error") %> prohibited this punch from being saved:</h2>

      <ul>
        <% punch.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :punch_type %>
    <%= form.number_field :punch_type %>
  </div>

  <div class="field">
    <%= form.label :punch_at %>
    <%= form.datetime_select :punch_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
