<tr id="punch-<%= punch.id %>">
  <td class="text-left nowrap"><%= "#{punch.user.employee_number} &ndash; #{punch.user.name}".html_safe %></td>
  <td class="text-center nowrap"><%= punch.punch_at.strftime("%a, %m/%d") %></td>
  <td class="text-center nowrap"><%= punch.punch_at.strftime("%l:%M%P") %></td>
  <td class="text-center nowrap <%= class_for_punch_type(punch.punch_type) %>"><%= punch.punch_type.gsub(/_/, ' ').titlecase %></td>
  <td class="text-left nowrap">
    <% if punch.editor.blank? %>
      &nbsp;
    <% else %>
      <small class="text-muted">By:</small> <%= punch.editor.name %><br>
      <small class="text-muted">When:</small> <%= punch.edited_at.strftime("%m/%d/%y %l:%M%P") %><br>
      <small class="text-muted">Reason:</small> <%= punch.reason_code.code %>
    <% end %>
  </td>
  <td class="text-left"><%= punch.notes %></td>
  <td class="text-center nowrap">
    <%= link_to '<i class="fas fa-pencil-alt"></i> Edit'.html_safe, edit_punch_path(punch), class: ["btn", "btn-secondary", "btn-sm"] %>
    <%= link_to '<i class="fas fa-times"></i> Delete'.html_safe, punch, method: :delete, class: ["btn", "btn-danger", "btn-sm"], data: { confirm: "Are you sure you want to delete this record?\n\nIf necessary, IT can restore this record later." } %>
  </td>
</tr>