<tr id="punch-<%= punch.id %>">
  <td class="text-left nowrap"><%= "#{punch.user.employee_number} &ndash; #{punch.user.name}".html_safe %></td>
  <td class="text-center nowrap"><%= punch.punch_at.strftime("%a, %m/%d") %></td>
  <td class="text-center nowrap"><%= punch.punch_at.strftime("%l:%M%P") %></td>
  <td class="text-center nowrap <%= class_for_punch_type(punch.punch_type) %>"><%= punch.punch_type.gsub(/_/, ' ').titlecase %></td>
  <td class="text-left nowrap">
    <% if punch.editor.blank? %>
      &nbsp;
    <% else %>
      <small class="text-muted">By:</small> <%= punch.editor.name %><br>
      <small class="text-muted">When:</small> <%= punch.edited_at.strftime("%m/%d/%y %l:%M%P") %><br>
      <small class="text-muted">Reason:</small> <%= punch.reason_code.code %>
    <% end %>
  </td>
  <td class="text-left"><%= punch.notes %></td>
</tr>