<div class="row">
  <div class="col-12 col-md-6">
    <%= form_with(model: reason_code, remote: true, class: ["bg-light", "border", "mb-3", "shadow-sm", "p-3", "clearfix"]) do |form| %>

      <% if reason_code.errors.any? %>
        <div class="alert alert-danger small">
          <p class="my-0"><%= pluralize(reason_code.errors.count, "error") %> prevented this code from being saved:</p>
          <ul class="my-0">
            <% reason_code.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :code, "Code: #{required_field_indicator}".html_safe %>
        <%= form.text_field :code, class: "form-control", required: true, autofocus: true %>
      </div>

      <div class="form-check">
        <%= form.check_box :requires_notes, class: "form-check-input" %>
        <%= form.label :requires_notes, "Requires notes?" %>
      </div>

      <button class="btn btn-primary float-right" type="submit"><i class="fas fa-check"></i> Save</button>

    <% end %>
  </div>
</div>