<h1 class="my-3">Varland Timeclock</h1>

<% if @punches.blank? && @last_week_punches.blank? %>

  <p>You don't have any records for the current week or last week.</p>

<% else %>

  <p>Your time card for this week:</p>

  <% if @punches.blank? %>

    <p class="small text-muted font-italic">You don't have any records for the current week.</p>

  <% else %>

    <table class="table table-bordered table-striped table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Day</th>
          <th class="text-center">Date</th>
          <th class="text-center">Time</th>
          <th class="text-center">Type</th>
        </tr>
      </thead>
      <tbody>
        <% @punches.each do |p| %>
          <tr>
            <td class="text-center"><%= p.punch_at.localtime.strftime("%A") %></td>
            <td class="text-center"><%= p.punch_at.localtime.strftime("%m/%d/%y") %></td>
            <td class="text-center"><%= p.punch_at.localtime.strftime("%I:%M%P") %></td>
            <td class="text-center <%= class_for_punch_type(p.punch_type) %>"><%= p.punch_type.gsub(/_/, ' ').titlecase %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>

  <p>Your time card for last week:</p>

  <% if @last_week_punches.blank? %>

    <p class="small text-muted font-italic">You don't have any records for last week.</p>

  <% else %>

    <table class="table table-bordered table-striped table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Day</th>
          <th class="text-center">Date</th>
          <th class="text-center">Time</th>
          <th class="text-center">Type</th>
        </tr>
      </thead>
      <tbody>
        <% @last_week_punches.each do |p| %>
          <tr>
            <td class="text-center"><%= p.punch_at.localtime.strftime("%A") %></td>
            <td class="text-center"><%= p.punch_at.localtime.strftime("%m/%d/%y") %></td>
            <td class="text-center"><%= p.punch_at.localtime.strftime("%I:%M%P") %></td>
            <td class="text-center <%= class_for_punch_type(p.punch_type) %>"><%= p.punch_type.gsub(/_/, ' ').titlecase %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>

<% end %>