<div class="my-3 d-flex flex-row align-items-center justify-content-between">
  <h1 class="m-0">
    Employees Clocked in Right Now
  </h1>
  <span class="bg-on-break font-weight-lighter">(Yellow highlight means on break)</span>
</div>

<div class="row">
  <%= render partial: 'right_now_box', locals: { heading: "Plating", min: 0, max: 199 } %>
  <%= render partial: 'right_now_box', locals: { heading: "Maintenance", min: 200, max: 299 } %>
  <%= render partial: 'right_now_box', locals: { heading: "Lab", min: 300, max: 399 } %>
  <%= render partial: 'right_now_box', locals: { heading: "Shipping/QC", min: 400, max: 499 } %>
  <%= render partial: 'right_now_box', locals: { heading: "Supervisors", min: 600, max: 799 } %>
  <%= render partial: 'right_now_box', locals: { heading: "Office", min: 800, max: 999 } %>
  <%= render partial: 'right_now_box', locals: { heading: "Easter Seals", min: 1000, max: 1099 } %>
</div>